<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Filmator|Buscar</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4"></div>
			<div class="col-xs-12 col-md-4">
				<h2>Buscar Filmes</h2>
				<form role="form" action="/buscar" method="post">
					<div class="form-group">
						<label>Nome do Filme:</label> <input class="form-control"
							name="nome" required>
					</div>
					<button type="submit" class="btn btn-success">Buscar</button>
				</form>
				</br>
				<button type="submit" class="btn btn-danger" onclick="history.go(-1);">Voltar</button>	
			</div>
			<div class="col-xs-12 col-md-4"></div>
		</div>
	</div>
</body>
</html>