<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Cadastro de Filme</title>
</head>
<body>
	<h1>ALOOOOOOOOOO GALERAAAAAAAA</h1>
	<form action="/cadastro" method="post">
		<label>Nome Filme:</label>
		<input name="nome"></input> 
		<select	name="genero">
			<option value="COMEDIA">{(descricao)}</option>
		</select>
		<label>Faixa Etária:</label>
		<input name="faixaEtaria"></input>
		<label>Ano Lançamento:</label>
		<input name="anoLancamento"></input>
		<label>Sipnose:</label>
		<input name="sipnose"></input>
		<label>Escolha imagem</label>
		<input type="file" name="img" accept="image/png|image/jpg">
		<button>Salvar</button>
	</form>



</body>
</html>