<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Filmator|Erro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4"></div>
			<div class="col-xs-6 col-md-4">
			<marquee>
				<img alt="Errou" src="/img/errou.jpg">
			</marquee>
			<p>Seu filme não foi encontrado!</p>
			<button type="submit" class="btn btn-danger" onclick="history.go(-1);">Voltar</button>
			</div>
			<div class="col-xs-6 col-md-4"></div>
		</div>
	</div>
</body>
</html>