<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Filmator|Admin</title>
{{> script}}
<link rel="stylesheet" href="../css/estiloFundo.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-3"></div>
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-default">
				    <div class="panel-heading">
					<a href="http://localhost:8787/formularioCadastro" class="btn btn-info">Cadastro Filme</a>
						<a href="http://localhost:8787/telaBusca" class="btn btn-info">Buscar Filme</a>
						<a href="http://localhost:8787/buscarTodosFilmes" class="btn btn-info">Listar Filmes</a>
					<a href="http://localhost:8787/buscarTodosUsuarios" class="btn btn-info">Listar Usuários</a>
	 					<a href="http://localhost:8787/logout" class="btn btn-danger">Sair do sistema</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3"></div>
		</div>
	</div>
</body>
</html>