<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Filmator|Admin</title>
{{> script}}
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-2"></div>
			<div class="col-xs-12 col-md-8">
				<div class="panel panel-default">
				    <div class="panel-heading">
				    <ul class="nav nav-pills">
					        <li class="active">
					        	<a href="http://localhost:8787/formularioCadastro">Cadastro Filme</a>
					        </li>
					        <li class="active">
					        	<a href="http://localhost:8787/telaBusca">Buscar Filme</a>
					        </li>
					        <li class="active">
					        	<a href="http://localhost:8787/buscarTodosFilmes">Listar Filmes</a>
					        </li>
					        <li class="active">
					        	<a href="http://localhost:8787/buscarTodosUsuarios">Listar Usuários</a>
					        </li>
					        <li class="pull-right">
					        	<a class="btn-danger" href="http://localhost:8787/logout">Sair do sistema</a>
					        </li>
					    </ul>			
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-2"></div>
		</div>
	</div>
</body>
</html>