<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Filmator|Listagem</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{> script}}
<link rel="stylesheet" href="../css/estiloListagemFilme.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4"></div>
			<div class="panel panel-default">
			    <div class="panel-heading">
				<div class="col-xs-6 col-md-4">
					<h2>Lista de Usuários</h2>
					</div>
					<table class="table table-condensed">
						<thead>
							<tr class="success">
								<th>Código do Usuário</th>
								<th>Nome do Usuário</th>
								<th>Login</th>
								<th>Senha</th>
								<th>Tipo Usuário</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							{{#usuarios}}
							<tr>
								<td class="active">{{codigoUsuario}}</td>
								<td class="active">{{nomeUsuario}}</td>
								<td class="active">{{loginUsuario}}</td>
								<td class="active">{{senhaUsuario}}</td>
								<td class="active">{{adminSistema}}</td>
								<td class="active">
			<a href="#"><button class="glyphicon glyphicon-edit"></button></a>
			<a href="/deletarUsuario?codigoUsuario={{codigoUsuario}}"><button class="glyphicon glyphicon-trash"></button></a>
								</td>
							</tr>
							{{/usuarios}}
						</tbody>
					</table>
				    <button type="submit" class="btn btn-danger" onclick="history.go(-2);">Voltar</button>	
					</form>
				</div>
			</div>
			<div class="col-xs-6 col-md-4"></div>
		</div>
	</div>
</body>
</html>