 <!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Filmator|Listagem</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{> script}}
<link rel="stylesheet" href="../css/estiloListagemFilme.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="../css/raterater.css" rel="stylesheet"/>
<script src="../js/raterater.jquery.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4"></div>
			<div class="panel panel-default">
			    <div class="panel-heading">
				<div class="col-xs-6 col-md-4">
					<h2>Lista de filmes</h2>
				</div>
					<table class="table table-condensed">
						<thead>
							<tr class="success">
								<th>Nome do Filme</th>
								<th>Gênero</th>
								<th>Faixa Etária</th>	
								<th>Ano de Lançamento</th>
								<th>Sinopse</th>
								<th>Imagem</th>
								<th>Avaliação</th>
								<th>Média</th>
							</tr>
						</thead>
						<tbody>
							{{#filmes}}
							<tr>
								<td class="active">{{nome}}</td>
								<td class="active">{{genero.descricao}}</td>
								<td class="active">{{faixaEtaria}}</td>
								<td class="active">{{anoLancamento}}</td>
								<td class="active">{{sinopse}}</td>
								<td class="active">
									<img class="img_listagem" src="{{imagem}}">
								</td>
								<td class="active">
									<div class="ratebox" data-id="{{idFilme}}" data-rating="">
									</div>
								</td>
								<td class="active media{{idFilme}}">
									{{media}}
								</td>
							</tr>
							{{/filmes}}
						</tbody>
					</table>
				    <button type="submit" class="btn btn-danger" onclick="history.go(-1);">Voltar</button>	
					</form>
				</div>
			</div>
			<div class="col-xs-6 col-md-4"></div>
		</div>
	</div>
	<script>
	$( '.ratebox' ).raterater( { submitFunction: 'avaliacaoMedia', allowChange: true } );
		function avaliacaoMedia(idFilme, nota){
    		$.ajax({
					url: '/avaliacaoFilme?idFilme=' + idFilme  + '&nota=' + nota,
					type: 'POST'
			 }).done(function(){
				$.ajax({
					url:'/mediaAvaliacao?idFilme='+idFilme,
					type:'GET'
				}).done(function(resultado){
					$('tr .media' + idFilme).text(resultado[0].media.toFixed(2));
				})
			})
		}
	</script>
</body>
</html>
