<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Filmator|Cadastro Usuário</title>
{{> script}}
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-md-4"></div>
			<div class="col-xs-6 col-md-4">
				<div class="panel panel-default">
	        		<div class="panel-heading">
						<h2>Cadastre-se</h2>
						<form action="/cadastroUsuarioLogin" role="form" method="post">
							<div class="form-group">
								<label>Nome Completo</label> 
								<input class="form-control"	name="nomeUsuario" required>
							</div>
							<div class="form-group">
								<label>Login</label>
								<input class="form-control" type="text" name="loginUsuario" required>
							</div>
							<div class="form-group">
								<label>Senha</label>
								<input class="form-control" type="password" name="senhaUsuario" required>
							</div>
							<button type="submit" class="btn btn-success">Cadastrar</button>	
							<!-- <button type="submit" class="btn btn-danger" onclick="history.go(-2);">Voltar</button> -->
						</form>
					</br>
						<a href="/"><button type="submit" class="btn btn-danger">Voltar</button></a>
					</div>
				</div>
			</div>
			<div class="col-xs-3 col-md-4"></div>
		</div>
	</div>
</body>
</html>