<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Filmator|Login</title>
<link rel="stylesheet" href="../css/estiloLogin.css">
{{> script}}
</head>
<body>
	<div class="container">
		<div class="row">
		<div class="col-xs-3 col-md-4"></div>
		<div class="col-xs-6 col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
			     	<form class="form-signin" action="/validaLogin" method="post">
			        	<h2 class="form-signin-heading">Login</h2>
				        <input type="text" class="form-control" name="loginUsuario" placeholder="Usuário" required autofocus>
				        <input type="password" class="form-control" name="senhaUsuario" placeholder="Senha" required>
			        	<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
			        	<div>
			        	</br>
			            <a href="http://localhost:8787//telaCadastroUsuarioLogin">Cadastre-se</a> 
			          </div>
			      	</form>
		    	</div>
		    </div>
		</div>
		<div class="col-xs-3 col-md-4"></div>
		</div>
	</div>
</body>
</html>
