th, td {
   text-align: center;   
}

.img_listagem{
	width: 75px;
	height: 75px;
	border-radius: 10px;
}

.raterater-layer { font-size:20px; }

/* Star placeholder color */
.raterater-bg-layer {
    color: rgba( 0, 0, 0, 0.25 );
}

/* Star color on hover */
.raterater-hover-layer {
    color: rgba( 255, 255, 0, 0.75 );
}

/* Star color after rating */
.raterater-hover-layer.rated {
    color: rgba( 255, 255, 0, 1 );
}

/* Initial star color */
.raterater-rating-layer {
    color: rgba( 255, 155, 0, 0.50 );
}

/* Color of the star outline */
.raterater-outline-layer {
    color: rgba( 0, 0, 0, 0.25 );
}


